# Final project
 Films recommend system

1.input data

In [3]:
import pandas as pd
data_dir = ""
df = pd.read_csv("movies.csv",index_col="movieId")
df.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy